@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "RobotoThin";
  font-weight: 300;
  src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Mardoto";
  src: url("../fonts/mardoto/Mardoto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratBlack";
  src: url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "MontserratRegular";
  /* font-weight: 600; */
  src: url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}
@layer components {
  .font-montserratBlack {
    font-family: "MontserratBlack", sans-serif;
  }
}
@layer components {
  .font-montserratRegular {
    font-family: "MontserratRegular", sans-serif;
  }
}
@layer components {
  .font-mardoto {
    font-family: "Mardoto", sans-serif;
  }
}
@layer components {
  .font-robotoThin {
    font-family: "RobotoThin", sans-serif;
  }
}

@layer components {
  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
}
body {
  @apply bg-gray-50;
  #nuxt-devtools-container {
    display: none;
  }
}

@layer components {
  .btn {
    @apply text-dark-text font-bold px-4 py-2 rounded-md text-sm;
  }
}
@layer components {
  .custom-txt {
    @apply text-dark-text text-xs leading-6 font-semibold;
  }
}
@layer components {
  .custom-light-txt {
    @apply text-white text-sm;
  }
}
@layer components {
  .custom-wrapper {
    @apply w-10/12 mx-auto;
  }
}
@layer components {
  .bg-image {
    @apply bg-auto bg-center bg-cover bg-no-repeat;
  }
}
@layer components {
  .custom-title {
    @apply font-light text-[30px];
  }
}
@layer components {
  .primary-title {
    @apply font-extrabold text-6xl;
  }
}
@layer components {
  .btn-gradient {
    background: linear-gradient(
      to bottom,
      var(--bg-custom-yellow),
      var(--bg-custom-dark-yellow)
    );
  }
}
